@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 120px;
}

main,
header,
footer {
  width: 100%;
  background-color: white;
  padding: 20px 120px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
  min-height: 400px;

  p {
    margin-bottom: 10px;
  }
}

main {
  min-height: 400px;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  a:hover {
    border-bottom: 1px solid #4f4f4f;
  }
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
  letter-spacing: 0.2rem;
  color: #5b15c4;
}

h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 500;
  color: #333;
}

.auteur {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 400;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: #5b15c4;
    }
  }
}

.backlink {
  margin-top: 20px;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #666;
}