{% extends 'base.twig' %}

{% block main %}
	<h1>Détail d'un éditeur</h1>
	<h2>
		{{ editeur.nom }}
	</h2>
	<p>Adresse :
		{{ editeur.adresse }}</p>
	<h3>Livres de cet éditeur :
	</h3>
	{% if livres|length == 0 %}
		<p>Aucun</p>
	{% else %}
		<div class="grid">
			{% for livre in livres %}
				<a class="card" href="detail_livre.php?isbn={{ livre.isbn }}">
					{{ livre.titre }}
				</a>
			{% endfor %}
		</div>
	{% endif %}
	<p class="backlink">
		<a href="liste_editeurs.php">Retour</a>
	</p>
{% endblock %}
