{% extends 'base.twig' %}

{% block main %}
	<h1>Liste des auteurs</h1>
	{% for auteur in tableau_auteurs %}
		<div class="auteur">
			<a href="detail_auteur.php?id={{ auteur.id }}">
				{{ auteur.nom }}
				{{ auteur.prenom }}
			</a>
		</div>
	{% endfor %}
	<form method="post" action="liste_auteurs.php">
		<h2>Ajouter un auteur</h2>
		<div>
			<label for="prenom">Prénom :</label>
			<input type="text" id="prenom" name="prenom">
		</div>
		<div>
			<label for="nom">Nom :</label>
			<input type="text" id="nom" name="nom">
		</div>
		<div>
			<button type="submit">Ajouter</button>
		</div>
	</form>
{% endblock %}
