{% extends 'base.twig' %}

{% block main %}
	<h1>Liste des auteurs</h1>
	{% for auteur in tableau_auteurs %}
		<div class="auteur">
			<a href="detail_auteur.php?id={{ auteur.id }}">
				{{ auteur.nom }}
				{{ auteur.prenom }}
			</a>
		</div>
	{% endfor %}
{% endblock %}
